.nric-wrapper {
  display: flex;
  justify-content: center;
}
.nric-generator {
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: center;
}
.nric {
  width: auto;
  height: 30px;
  margin-bottom: 5px;
  font-size: 24px;
  text-align: center;
  padding: 5px;
  border: 2px solid #111111;
  border-radius: 5px;
  border-color: green;
  &:focus {
    outline: none;
  }
  &.invalid {
    border-color: red;
  }
}
.nric-button {
  font-size: 18px;
  margin-top: 15px;
  height: 30px;
}
