.profile {
  width: 260px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #393e4b;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &-pic {
    border-radius: 3px;
  }

  h1 {
    font-size: 26px;
    margin: 0;
  }
  h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    color: #586069;
  }

  p {
    margin: 15px 0;
  }

  .side-card {
    border-bottom: 1px #e1e4e8 solid;
    padding: 20px 0;
    .social_icons {
      margin: 0;
      padding: 0;
      z-index: 2;

      li {
        display: inline-block;
        padding: 0 0.5rem 1rem 0.5rem;
      }

      .icon {
        fill: #000000;
        -webkit-transition: 200ms ease;
        transition: 200ms ease;
      }

      .icon:hover {
        fill: #246fde;
        -webkit-transform: translate3d(0, -0.25em, 0);
        transform: translate3d(0, -0.25em, 0);
      }
    }

    .skill_tags {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      padding: 0;

      .icon {
        margin-right: 5px;
      }

      #skill_tag {
        padding: 11px;
        margin: 5px;
        display: flex;
        font-size: 16px;
        border-radius: 6px;
        border: 1px solid black;
      }

      #skill_tag:hover {
        background-color: black;
        color: lightgray;
      }
    }
  }
}
