.blog {
  font-family: "Lato"; // display: flex;
  // flex-wrap: wrap;
  .blog-post {
    font-size: 18px;
    padding: 10px 20px;
    // flex: 1 1 40%;
    // border: 1px solid #d1d5da;
    // border-radius: 3px;
    // margin: 8px;
    // padding: 16px;

    &-title {
      margin-bottom: 30px;
      h4 {
        color: #757575;
        margin: 5px;
      }
    }
    &-content {
    }
  }
}
