.blog {
  // font-family: "Lato"; // display: flex;
  color: rgba(0, 0, 0, 0.84);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  // flex-wrap: wrap;
  .blog-post {
    padding: 10px 20px;
    // flex: 1 1 40%;
    // border: 1px solid #d1d5da;
    // border-radius: 3px;
    // margin: 8px;
    // padding: 16px;

    &-title {
      margin-bottom: 30px;
      h4 {
        color: #757575;
        margin: 5px;
      }
    }
    &-content {
      p {
        font-size: 19px;
        line-height: 1.8em;
      }
    }
  }
}
