.overview-projects {
  display: flex;
  flex-wrap: wrap;

  .overview-project-card {
    flex: 1 1 40%;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    margin: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-title {
      font-weight: 600;
    }
    &-content {
      display: flex;
      justify-content: start;

      .tags {
        .tag-icon {
          display: flex;
          margin-right: 8px;
        }
        display: flex;
        align-items: center;
        margin-right: 20px;
      }
      .language-color {
        border-radius: 50%;
        display: inline-block;
        height: 12px;
        position: relative;
        top: 1px;
        width: 12px;
      }
    }
  }
}

.overview-blog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .overview-blog-card {
    flex: 1 1 40%;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    margin: 8px;

    &-header {
      border-bottom: 1px solid #d1d5da;
      padding: 5px 15px;
      font-size: 12px;
      span {
        font-weight: 600;
      }
    }

    &-content {
      padding: 16px;
      .title {
        margin: 5px 0 15px;
      }
      .description {
      }
    }
  }
}
